<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="datosPartido; else pantallaCarga">
  	<ion-row>
  		<ion-col>
				D
			</ion-col>
  		<ion-col>
				Nombre
			</ion-col>
  		<ion-col>
				Min
			</ion-col>
  		<ion-col>
				P
			</ion-col>
  		<ion-col>
				T2
			</ion-col>
  		<ion-col>
				T3
			</ion-col>
  		<ion-col>
				T1
			</ion-col>
  	</ion-row>
  	<ion-row *ngFor="let jugador of datosPartido.Local.Plantilla">
  		<ion-col>
				{{jugador.D}}
			</ion-col>
  		<ion-col>
				{{jugador.Nombre}}
			</ion-col>
  		<ion-col>
				{{jugador.Min}}
			</ion-col>
  		<ion-col>
				{{jugador.P}}
			</ion-col>
  		<ion-col>
				{{jugador.T2}}
			</ion-col>
  		<ion-col>
				{{jugador.T3}}
			</ion-col>
  		<ion-col>
				{{jugador.T1}}
			</ion-col>
  	</ion-row>
  </ion-grid>
  <ng-template #pantallaCarga>
  	<p>
  		Cargando...
  	</p>
  </ng-template>
</ion-content>
